<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleInfo" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss} %-5p [%c{1}] - %m%n"/>
        </Console>
        <Console name="ConsoleWarning" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss} %-5p [%c{1}] - %m%n"/>
        </Console>

        <RollingFile name="FileLog" fileName="zosshell-${date:yyyyMMdd}.log"
                     filePattern="zosshell-${date:yyyyMMdd}.log.%i">
            <PatternLayout>
                <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} %-5p [%c] - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10000KB"/>
            </Policies>
        </RollingFile>
        <Routing name="Routing">
            <Routes>
                <Script name="RoutingInit" language="JavaScript"><![CDATA[
                    logEvent.getLevel();]]>
                </Script>
                <Route ref="FileLog" key="DEBUG"/>
                <Route ref="FileLog" key="INFO"/>
                <Route ref="FileLog" key="WARN"/>
                <Route ref="FileLog" key="ERROR"/>
                <Route ref="FileLog" key="FATAL"/>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Routing"/>
        </Root>
    </Loggers>
</Configuration>